[Unit]
Description=VPP Agent
After=vpp.service
Before=neutron-server.service

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/bin/vpp-agent --config-file=/etc/neutron/neutron.conf --config-file=/etc/neutron/plugins/ml2/ml2_conf.ini --log-file=/var/log/neutron/vpp-agent.log
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target